<?xml version="1.0" encoding="UTF-8"?>

<!--
   Sphinx-4 Configuration file
-->

<!-- ******************************************************** --><!--  an4 configuration file                             --><!-- ******************************************************** -->

<config>

    <!-- ******************************************************** -->
    <!-- frequently tuned properties                              -->
    <!-- ******************************************************** -->

    <property name="logLevel" value="WARNING" />

    <property name="absoluteBeamWidth" value="-1" />
    <property name="relativeBeamWidth" value="1E-80" />
    <property name="wordInsertionProbability" value="1E-36" />
    <property name="languageWeight" value="8" />

    <property name="frontend" value="epFrontEnd" />


    <!-- ******************************************************** -->
    <!-- The live frontend configuration                          -->
    <!-- ******************************************************** -->
    <component name="epFrontEnd" type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.FrontEnd">
        <propertylist name="pipeline">
            <item>audioFileDataSource</item>
            <item>dataBlocker</item>
            <item>speechClassifier</item>
            <item>speechMarker</item>
            <item>nonSpeechDataFilter</item>
            <item>preemphasizer</item>
            <item>windower</item>
            <item>fft</item>
            <item>melFilterBank</item>
            <item>dct</item>
            <item>liveCMN</item>
            <item>featureExtraction</item>
        </propertylist>
    </component>

    <!-- ******************************************************** -->
    <!-- The frontend pipelines                                   -->
    <!-- ******************************************************** -->

    <component name="audioFileDataSource"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.util.AudioFileDataSource" />

    <component name="dataBlocker" type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.DataBlocker" />

    <component name="speechClassifier"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.endpoint.SpeechClassifier" />

    <component name="nonSpeechDataFilter"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.endpoint.NonSpeechDataFilter" />

    <component name="speechMarker"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.endpoint.SpeechMarker" />

    <component name="preemphasizer"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.filter.Preemphasizer" />

    <component name="windower"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.window.RaisedCosineWindower"></component>

    <component name="fft"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.transform.DiscreteFourierTransform"></component>

    <component name="melFilterBank"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.frequencywarp.MelFrequencyFilterBank"></component>

    <component name="dct"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.transform.DiscreteCosineTransform" />

    <component name="liveCMN" type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.feature.LiveCMN" />

    <component name="featureExtraction"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.frontend.feature.DeltasFeatureExtractor" />


    <!-- ******************************************************* -->
    <!--  monitors                                               -->
    <!-- ******************************************************* -->

    <component name="accuracyTracker"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.instrumentation.BestPathAccuracyTracker">
        <property name="recognizer" value="${recognizer}" />
        <property name="showAlignedResults" value="false" />
        <property name="showRawResults" value="false" />
    </component>

    <component name="memoryTracker"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.instrumentation.MemoryTracker">
        <property name="recognizer" value="${recognizer}" />
        <property name="showSummary" value="false" />
        <property name="showDetails" value="false" />
    </component>

    <component name="speedTracker"
        type="SphinxDemo.sphinx4.edu.cmu.sphinx.instrumentation.SpeedTracker">
        <property name="recognizer" value="${recognizer}" />
        <property name="frontend" value="${frontend}" />
        <property name="showSummary" value="true" />
        <property name="showDetails" value="false" />
    </component>


    <!-- ******************************************************* -->
    <!--  Miscellaneous components                               -->
    <!-- ******************************************************* -->

    <component name="logMath" type="SphinxDemo.sphinx4.edu.cmu.sphinx.util.LogMath">
        <property name="logBase" value="1.0001" />
        <property name="useAddTable" value="true" />
    </component>

</config>















